body{
    margin:0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
h1{
    font-size: 100px;
    color:aliceblue;
    backdrop-filter : brightness(0.5);
    letter-spacing: 4px;
    
    
}
.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    border: 4px solid;
    font-size: 20px;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowrap;
}
.btn:hover{
    background-color: white;
    color: black;
}
.split{
    width:50%;
    height:100%;
    top:0;
}
.split.left{
position: absolute;
left:0;
background-color: pink;
background-image: url("https://media.croma.com/image/upload/v1662703416/Croma%20Assets/Communication/Mobiles/Images/261991_hhfa33.png");
background-size: cover;
}
.split.right{
position: absolute;
right:0;
background-color: lightblue;
background-image: url("https://cdn1.smartprix.com/rx-i7GMfmeNr-w1200-h1200/7GMfmeNr.jpg");
/* background-image: url("https://m.media-amazon.com/images/I/91inXgRH82L._SL1500_.jpg"); */
background-size: cover;

}
.active-left .left{
    width:75%;
}
.active-left .right{
    width: 25%;
}
.active-right .left{
    width:25%;
}
.active-right .right{
    width:75%;
}
.left , .right{
transition: width 2s ease-in-out;
}